<ul class="list-group">
    <li class="list-group-item"
	*ngFor="let a_user of users">
	<h3>{{ a_user.firstName }} {{ a_user.lastName }}</h3>
	<p>son email est {{ a_user.email }}</p>
	<p>Cette persone préfère le {{ a_user.drinkPreference }}</p>
	<p *ngIf="a_user.hobbies && a_user.hobbies.length > 0">
	    Cette personne a des hobbies :
	    <span *ngFor="let a_hobby of a_user.hobbies">{{ a_hobby }} - </span>
	</p>
	
	<button class="btn btn-default pull-right"
		(click)="onDeleteUser(a_user)">
	    <span class="glyphicon glyphicon-minus"></span>
	    
	</button>

    </li>
    <a routerLink="/new-user">Nouvel utilisateur</a>
</ul>
